<div class="modal">
    <div class="action-container">
        <header class="headers">
            <h2>Login</h2>
        </header>
        <form method="post">

            <label htmlFor="email">Email</label>
            <div class="input-wrapper">
                <input id="email" name="email" type="email" />
            </div>

            <label htmlFor="password">Password</label>
            <div class="input-wrapper">
                <input id="password" name="password" type="password" />
            </div>

            <div id="form-actions">
                <button id="action-save" class="btn" type="submit">Login</button>
            </div>
        </form>
        <p>Don't have account? <a href="/auth/register">Register</a></p>
    </div>
</div>