<div class="not-found">
    <h1>
        Uh oh,<br> something broke.
    </h1>

    <h3>Error 404 - page not found.</h3>
    <a href="/tasks/list">
        <button>Return to Tasks List</button>
    </a>
</div>