<div class="modal">
    <div class="action-container">
        <header class="headers">
            <h2>Add task</h2>
        </header>
        <form method="post">
            <label to="title">Title</label>
            <div class="input-wrapper">
                <input id="title" name="title" type="text" />
            </div>
            <label to="description">Description</label>
            <div class="input-wrapper">
                <input id="description" name="description" type="description" />
            </div>


            <label to="dueDate">Due date</label>
            <div class="input-wrapper">
                <input id="dueDate" name="dueDate" type="date" />
            </div>


            <div id="form-actions">
                <button id="action-save" class="btn" type="submit">Add</button>
            </div>
        </form>
    </div>
</div>